* {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    background-color: #285775;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    animation: cabecalho_aparece 2s ease-in-out;
}

.topo {
    align-items: center;
    justify-content: center;
    background-color: #285775;
    font-size: 15px;
    color: white;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.entrar_pagina2 {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.entrar_pagina2 a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    font-family: 'Times New Roman', Times, serif;
}

.entrar_pagina2 a:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(172, 172, 172);
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.audio {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

button.botao {
    max-width: 50%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

img:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

img:active {
    opacity: 0.6;
    transition: opacity 0.1s ease;
    font-family: 'Times New Roman', Times, serif;
}

.zooming {
    animation: pulse 1.5s infinite alternate;
    font-family: 'Times New Roman', Times, serif;
    animation: sino_aparece 2s ease-in-out;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@media screen and (min-width: 1024px) {

    .texto_alarme {
        font-size: 24px;
        color: white;
        margin-top: 10px;
    }

    img {
        width: 400px;
        height: 400px;
        max-width: 100%;
        max-height: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 630px) {

    .texto_alarme {
        font-size: 18px;
        color: white;
        margin-top: 10px;
    }

    img {
        width: 300px;
        height: 300px;
        max-width: 100%;
        max-height: 100%;
        align-items: center;
        justify-content: center;
    }
}

@keyframes cabecalho_aparece {

    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes sino_aparece {

    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}