.botoes_topo {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    width: 50%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 2px solid white;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #244e68, #43718d);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

#topo {
    display: flex;
}
